/* UI */
.panel{
    z-index: 20;
}
.scroll{
    overflow-y: scroll !important;
}
.panel-fabric{
    width:320px;
    height:76.4%;
}
.panel-md{
    width:280px;
    height:76.4%;
}
.panel-md-height{
    height:90%;
}
.panel-sm{
    width:120px;
    height:77%;
}
.panel-top{
    height:57px;
}
.topbar{
    width:929px;
    height:64px;
    z-index: 30;
    display: flex;
}
.subTopbar{
    width:90%;
    height:37px;
    z-index: 1;
    display: flex;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.placeholder{
    font-size: 12px;
    color: grey;
}
.nav {
    width: 100%;
    /* height: 100%; */
}
.mockup{
    width:90%;
    height:90%;
}
.heatmapMockup{
    width:100%;
    height:100%;
}
.legned{
    width:50%;
}
.whatif{
    width:90%;
}
.metric{
    width:35%;
}
.metric-bar{
    width: 100px;
}
#metric-bar{
    width: 4px;
    height: 42px;
    margin-top:10px;
}
.breadcrumb{
    height:28px;
}
.backbutton {
    background-color:white;
    border: none;
    color: #0078D4;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    border: none;
    outline:none;
    cursor: pointer;
}
select{
    height:30px;
}
.dropDown-lg{
    width:70%;
}
.btn{
    cursor: pointer;
}
.txtbtn{
  border: none;
  background-color: inherit;
  cursor: pointer;
  outline: none;
}
/* margin */
.marginBotton_md{
    margin-bottom: 20px;
}
.margine-left-1px{
    margin-left:-1px;
}
.margin-left-xsm{
    margin-left:10px;
}
.margin-left-xxsm{
    margin-left:5px;
}
.margin-left-xxxsm{
    margin-left:3px;
}
.removing-btn-margin-left{
    margin-left:-8px !important;
}
.margin-right-sm{
    margin-right:20px;
}
.margin-right-xsm{
    margin-right:10px;
}
.margin-right-xxsm{
    margin-right:5px;
}
.margin-right-xxxsm{
    margin-right:3px;
}
.margine-right-15px{
    margin-right:15px;
}
.margin-top-lg{
    margin-top:40px;
}
.margin-top-md{
    margin-top:30px;
}
.margin-top-sm{
    margin-top:20px;
}
.margin-top-xsm{
    margin-top:10px;
}
.margin-top-xxsm{
    margin-top:5px;
}
.margin-top-xxxsm{
    margin-top:3px;
}
.margin-left-auto{
    margin-left: auto
}

/* padding */
.padding-left-window-inner{
    padding-left:29px;
}
.padding-lg{
    padding: 60px;
}
.padding-md{
    padding: 40px;
}
.padding-sm{
    padding: 20px;
}
.padding-xsm{
    padding: 10px;
}
.padding-xxsm{
    padding: 5px;
}
.padding-top-xlg{
    padding-top:120px;
}
.padding-top-lg{
    padding-top:80px;
}
.padding-top-md{
    padding-top:40px;
}
.padding-top-sm{
    padding-top:20px;
}
.padding-top-xsm{
    padding-top:10px;
}
.padding-top-xxsm{
    padding-top:5px;
}
.padding-bottom-sm{
    padding-bottom:20px;
}
.padding-bottom-md{
    padding-bottom:40px;
}
.padding-bottom-xsm{
    padding-bottom:10px;
}
.padding-bottom-xxsm{
    padding-bottom:500px;
}
.padding-left-md{
    padding-left:40px;
}
.padding-left-sm{
    padding-left:20px;
}
.padding-left-xsm{
    padding-left:10px;
}
.padding-right-sm{
    padding-right:20px;
}
.padding-right-xsm{
    padding-right:10px;
}
.padding-notebook{
    padding-left:100px;
    padding-right:100px;
}


/* effect */
.dropshadow-sm{
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: bottom;
}

/* color */
.white_bg{
    background-color: white;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.datavis-1{
    color: #0078D4;
}
.datavis-1-bg{
    background-color: #0078D4;
}
.datavis-2{
    color: #00188F;
}
.datavis-2-bg{
    background-color: #00188F;
}
.datavis-3{
    color: #00A2AD;
}
.datavis-3-bg{
    background-color: #00A2AD;
}
.datavis-7{
    color: #E3008C;
}
.datavis-7-bg{
    background-color: #E3008C;
}
.transparent{
    background-color: transparent;
}

/* positions */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.leftRightCenter {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}
.topBottomCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    margin-bottom: -50%;
    transform: translate(0%, -50%);
}
/* col */
.col-lg{
    max-width: 100%;
}
.col-md{
    max-width: 80%;
}
.col-sm{
    max-width: 20%;
}

/* align */
.right-10{
    right:10;
}
.right{
    right:0;
}
.left{
    left:0;
}
.top{
    top:0;
}
.bottom{
    bottom:0;
}
.top-300{
    top:300px;
}
.top-180{
    top:180px;
}
.top-170{
    top:169px;
}
.top-130{
    top:130px;
}
.top-100{
    top:100px;
}
.top-50{
    top:50px;
}
.top-30{
    top:30px;
}
.top-10{
    top:10px;
}

/* flex */
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container > div {
    /* margin: 0px; */
    text-align: left;
}
.flex-container > li {
    margin: 0px;
    text-align: left;
}

/* notebook */
.notebook-wh{
    width:1089px;
    height:720px;
}
.notebook-inner-wh{
    width:1060px;
    height:650px;
    padding: 6px 10px 0px 10px;
}
.widget-wh{
    width:929px;
    height:649px;
    right: 6px !important
}
.notebooktab{
    width:1089px;
}

/* border */
.border{
    border-style: solid;
    border-width: 1px;
    border-color: #C8C8C8;
}
.divider{
    border-top: 1px solid #DADADA;
    width:100%;
}
.border-header{
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    border-width: 1px;
    border-color: #DADADA;
}

/* font */
.bold{
    font-weight: 600;
}
.semibold{
    font-weight: 500;
}
.font-size-28{
    font-size: 28px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-10{
    font-size: 10px;
}
.text-grey{
   color:grey
}
.fabric-primary-blue{
    color:#0078D4
 }
.txt-left{
    text-align: left;
}
.lineHeight-180{
    line-height: 180%;
}
/* fluent */

.primaryButton{
    background-color:#0078D4;
    color:white;
    border: none;
    border-radius:2px;
    padding: 0px 22px 0px 22px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}
.defaultButton{
    outline: none;
    padding: 7px 7px;
    width: 160px;
    border: 1px solid #C8C8C8;
    border-radius:2px;
    cursor: pointer;
}